
private/deploy/bundle/

private/deploy/android/project/cordova/

private/deploy/android/project/CordovaLib/

private/deploy/android/project/assets/

node_modules/

private/deploy/android/project/src/

private/deploy/android/project/res/

private/deploy/android/project/platform_www/

private/deploy/android/project/\.gradle/

private/deploy/android/

private/deploy/bundle\.tar\.gz

private/
