<template name="App_plans">

  <!--proprietary-code-start-->
  <div class="section light-bg" id="features">
      <div class="container">
        <div class="row">  
          <div class="col-md-4">
            <div class="card card-border-color card-border-color-success home-card">
              <!-- Card header -->
              <div class="card-header card-header-divider">
                <h1>{{_ "Free"}}</h1>
                <span>
                  <b>$0.00 USD / {{_ "year"}}</b>
                </span>
              </div>
              <!-- Card body -->
              <div class="card-body">
                <div role="alert" class="alert alert-success">
                  <div class="message" style="padding-left: 20px;">
                    <strong>50</strong> {{_ "SecuredItems"}}</div>
                  <div class="message" style="padding-left: 20px;">
                    <strong>50 MB</strong> {{_ "SecuredFiles"}}</div>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">{{{getTypeIconFullHTML 'note'}}} {{_ "Notes"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'account'}}} {{_ "Accounts"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'storage'}}}
                    <b> 50 MB {{_ "SecureFileStorage"}}</b>
                  </li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'key'}}} {{_ "Keys"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'message'}}} {{_ "Mail"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'folder'}}} {{_ "Folders"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'contacts'}}} {{_ "withUnlimited"}} {{_ "Contacts"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'sharing'}}} {{_ "withUnlimited"}} {{_ "Sharing"}}</li>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card card-border-color card-border-color-success home-card">
  
              <!-- Card header -->
              <div class="card-header card-header-divider">
                <h1>{{_ "Silver"}}</h1>
                <span>
                  <b>$9.99 USD / {{_ "year"}}</b>
                </span>
              </div>
  
              <!-- Card body -->
              <div class="card-body">
                <div role="alert" class="alert alert-success">
                  <div class="message" style="padding-left: 20px;">
                    <strong>500</strong> {{_ "SecuredItems"}}</div>
                  <div class="message" style="padding-left: 20px;">
                    <strong>10 GB</strong> {{_ "SecuredFiles"}}</div>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">{{{getTypeIconFullHTML 'note'}}} {{_ "Notes"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'account'}}} {{_ "Accounts"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'storage'}}}
                    <b> 10 GB {{_ "SecureFileStorage"}}</b>
                  </li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'key'}}} {{_ "Keys"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'message'}}} {{_ "Mail"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'folder'}}} {{_ "Folders"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'contacts'}}} {{_ "withUnlimited"}} {{_ "Contacts"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'sharing'}}} {{_ "withUnlimited"}} {{_ "Sharing"}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-border-color card-border-color-success home-card">
  
              <!-- Card header -->
              <div class="card-header card-header-divider">
                <h1>{{_ "Gold"}}</h1>
                <span>
                  <b>$19.99 USD / {{_ "year"}}</b>
                </span>
              </div>
  
              <!-- Card body -->
              <div class="card-body">
                <div role="alert" class="alert alert-success">
                  <div class="message" style="padding-left: 20px;">
                    <strong>1500 </strong> {{_ "SecuredItems"}}</div>
                  <div class="message" style="padding-left: 20px;">
                    <strong>25 GB</strong> {{_ "SecuredFiles"}}</div>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">{{{getTypeIconFullHTML 'note'}}} {{_ "Notes"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'account'}}} {{_ "Accounts"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'storage'}}}
                    <b> 25GB {{_ "SecureFileStorage"}}</b>
                  </li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'file'}}} {{_ "Files"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'key'}}} {{_ "Keys"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'message'}}} {{_ "Mail"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'folder'}}} {{_ "Folders"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'contacts'}}} {{_ "withUnlimited"}} {{_ "Contacts"}}</li>
                  <li class="list-group-item">{{{getTypeIconFullHTML 'sharing'}}} {{_ "withUnlimited"}} {{_ "Sharing"}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--proprietary-code-end-->

</template>