<template name="App_ui_leftbar">
  <div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
      <a href="#" class="left-sidebar-toggle">{{getPageTitle}}</a>
      <div class="left-sidebar-spacer">
        <div class="left-sidebar-scroll">
          <div class="left-sidebar-content">
            <ul class="sidebar-elements">
              <li class="divider">{{_ "Menu"}}</li>
              <!--<li><a href="{{pathFor 'App.dashboard'}}" class="close-sidebar"><i class="icon mdi mdi-home"></i><span>{{_ "Dashboard"}}</span></a>
              </li>-->
              <li class="parent open" data-step="2" data-intro="{{_ 'browseByType'}}">
                <a href="">
                  {{{getTypeIconFullHTML 'allItems'}}}
                  <span>{{_ "DecryptedItems"}}</span>
                </a>
                <ul>
                  <li>
                    <a href="{{pathFor 'App.all'}}" class="close-sidebar">
                      {{{getTypeIconFullHTML 'allItems'}}}
                      <b><span>{{_ "AllItems"}}</span></b>
                    </a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.notes'}}" class="close-sidebar">
                      {{{getTypeIconFullHTML 'note'}}}
                      <span>{{_ "Notes"}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.accounts'}}" class="close-sidebar">
                      {{{getTypeIconFullHTML 'account'}}}
                      <span>{{_ "Accounts"}}</span>
                    </a>
                  </li>
                  <!--<li style="padding-left: 10px;"><a href="{{pathFor 'App.files'}}" class="close-sidebar"><i class="icon mdi mdi-file"></i><span>{{_ "Files"}}</span></a>
                    </li>-->
                  <li>
                    <a href="{{pathFor 'App.credit_cards'}}" class="close-sidebar">
                      {{{getTypeIconFullHTML 'credit_card'}}}
                      <span>{{_ "CreditCards"}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.messages'}}" class="close-sidebar">
                      {{{getTypeIconFullHTML 'message'}}}
                      <span>{{_ "Mail"}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.keys'}}" class="close-sidebar">
                      {{{getTypeIconFullHTML 'key'}}}
                      <span>{{_ "Keys"}}</span>
                    </a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.files'}}" class="close-sidebar">
                      {{{getTypeIconFullHTML 'file'}}}
                      <span>{{_ "FileSets"}}</span>
                    </a>
                  </li>

                  <li class="parent folder-parent">
                    <a href="">
                      {{{getTypeIconFullHTML 'folderAll'}}}
                      <span>{{_ "Folders"}}</span>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="{{pathFor 'App.folders'}}" class="close-sidebar">
                          {{{getTypeIconFullHTML 'folderAll'}}}
                          <b><span>{{_ "AllFolders"}}</span></b>
                        </a>
                      </li>
                      {{#each folders}}
                      <li>
                        <a href="#" data-id={{this._id}} class="close-sidebar open-folder">
                          {{{getTypeIconFullHTML 'folder'}}}
                          <span>{{this.title}}</span>
                        </a>
                      </li>
                      {{/each}}
                      {{#if folders}}

                      {{/if}}
                    </ul>
                  </li>
                </ul>
              </li>

              <li class="parent" data-step="4" data-intro="{{_ 'inviteContacts'}}">
                <a href="{{pathFor "App.contacts"}}">
                  <i class="icon mdi mdi-accounts-list"></i>
                  <span>{{_ "Contacts"}}</span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="{{pathFor 'App.contacts.manage'}}" class="close-sidebar">{{_ "Manage"}}</a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.contacts.pending'}}" class="close-sidebar">{{_ "PendingInvites"}}</a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.contacts.sent'}}" class="close-sidebar">{{_ "SentInvites"}}</a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.contacts.invite'}}" class="close-sidebar">{{_ "AddContact"}}</a>
                  </li>
                </ul>
              </li>
              <li class="parent">
                <a href=" #">
                  <i class="icon mdi mdi-pin-help"></i>
                  <span>{{_ "Help"}}</span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="#" class="replay-intro">{{_ "ReplayIntro"}}</a>
                  </li>
                  <li>
                    <a href="{{pathFor 'App.contact_us'}}" class="close-sidebar">{{_ "ContactUs"}}</a>
                  </li>
                </ul>
              </li>

              <li data-step="5" data-intro="{{_ 'manageProfile'}}">
                <a href="{{pathFor 'App.user.profile'}}" class="close-sidebar"><span class="icon mdi mdi-face"></span>
                  {{_ "Profile"}}</a>
              </li>


              {{#if isInRole 'blogAuthor' 'global-group'}}
              <li class="parent open">
                <a href="#">
                  <i class="icon mdi mdi-settings"></i>
                  <span>{{_ "Admin"}}</span>
                </a>
                <ul class="sub-menu">
                  {{#if isInRole 'blogAuthor' 'global-group'}}
                  <li>
                    <a href="{{pathFor 'Admin.posts'}}" class="close-sidebar">{{_ "Blog"}}</a>
                  </li>
                  {{/if}}
                </ul>
              </li>
              {{/if}}

            </ul>
            <div class="progress-widget data-usage">
              <div class="progress-data">
                <span class="progress-value">{{getPlanUsage}}%</span>
                <span class="name">{{_ "PlanLimit"}}</span>
              </div>
              <div class="progress">
                <div style="width:{{getPlanUsage}}%;" class="progress-bar progress-bar-primary"></div>
              </div>
              <br>
              <div class="progress-data">
                <span class="progress-value">{{getDiskUsage}}%</span>
                <span class="name">{{_ "StorageUsage"}}</span>
              </div>
              <div class="progress">
                <div style="width:{{getDiskUsage}}%;" class="progress-bar progress-bar-primary"></div>
              </div>
              <br>
              <p style="font-size:0.7em">{{{getCopyright}}}</p>

            </div>
          </div>
        </div>

      </div>
      <br>


    </div>
  </div>
</template>