<template name="App_ui_main">
  <div class="be-wrapper">
    {{> App_global_message}}
    {{> App_ui_header}}
    {{> App_ui_leftbar}}
    {{#if Template.subscriptionsReady}}
    {{else}}
    {{> spinner}}
    {{/if}}
    <div class="be-content">
      <!--<div class="page-head">
        <h2 class="page-head-title">Invoice</h2>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb page-head-nav">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active">Invoice</li>
          </ol>
        </nav>
      </div>-->
      <div class="main-content container-fluid">
        {{> Template.dynamic template=content}}
      </div>
    </div>    
  </div>
</template>
