.main-content {
  /*background: #395781;*/
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px; //padding-bottom: 10px;
}

.card-sv {
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.arrange-items-sv {
  margin-top: -10px;
  margin-bottom: 5px;
}

.avatar-round {
  border-radius: 50%;
}

.accordion {
  margin-bottom: 0px;
  margin-top: 20px;
}

.accordion .card-header button {
  padding: .4em;
}

.navbar-light .navbar-toggler-icon {
  background-color: #FFF;
}

.splash-container .card .card-header {
  background: #1F2F46;
}

.seravault-background-color {
  background: #1F2F46;
}

.seravault-login-header {
  background: #1F2F46;
  padding: 20px;
  margin: 0;
  color: #FFF;
}

.seravault-text-white {
  color: #FFF;
}

.leftmenu-indent {
  padding-left: 20px !important;
}

.splash-description {
  color: #fff;
  line-height: 30px;
  font-size: 1em;
}

.be-nosidebar-left .be-top-header .be-navbar-header .navbar-brand {
  line-height: 60px;
  height: 60px;
  width: 300px;
  background-image: url("https://www.seravault.com/img/seravault_logo.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 0 5px;
  margin: 0;
  display: block;
  background-color: #1F2F46;
}

.be-top-header .be-right-navbar {
  background-color: #1F2F46;
}

.be-top-header .be-navbar-header .navbar-brand {
  line-height: 60px;
  height: 60px;
  width: 300px;
  background-image: url("https://www.seravault.com/img/seravault_logo.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 0 5px;
  margin: 0;
  display: block;
}

.be-top-header .page-title {
  color: #FFF;
}

.be-icons-nav>li.dropdown>a .icon {
  color: #FFF;
}

.card-title {
  margin-top: -10px;
  margin-bottom: 0px;
}

.home-page-logo {
  display: block;
  width: 100%;
  height: auto;
  margin-top: -20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.seravault-gradient-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007bf7+0,1f2f46+28,1f2f46+73,1f2f46+73,007bf7+100 */
  background: #007bf7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #007bf7 0%, #1f2f46 28%, #1f2f46 73%, #1f2f46 73%, #007bf7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #007bf7 0%, #1f2f46 28%, #1f2f46 73%, #1f2f46 73%, #007bf7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #007bf7 0%, #1f2f46 28%, #1f2f46 73%, #1f2f46 73%, #007bf7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bf7', endColorstr='#007bf7', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.seravault-gradient-free- {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007bf7+0,1f2f46+28,1f2f46+73,1f2f46+73,007bf7+100 */
  background: #007bf7;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #007bf7 0%, #1f2f46 28%, #1f2f46 73%, #1f2f46 73%, #007bf7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #007bf7 0%, #1f2f46 28%, #1f2f46 73%, #1f2f46 73%, #007bf7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #007bf7 0%, #1f2f46 28%, #1f2f46 73%, #1f2f46 73%, #007bf7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bf7', endColorstr='#007bf7', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.btn-outline-success {
  color: #29c272;
  background-color: transparent;
  background-image: none;
  border-color: #29c272;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #29c272;
  border-color: #29c272;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 194, 114, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(41, 194, 114, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #29c272;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #29c272;
  border-color: #29c272;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 194, 114, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(41, 194, 114, 0.5);
}

.btn-huge {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

.arrange-items {
  margin-top: -10px;
  margin-bottom: 20px;
}

.hover-hand:hover {
  cursor: pointer;
}

.font-xl {
  font-size: 2em;
}

.be-left-sidebar .sidebar-elements .divider {
  padding: 0;
  padding-left: 20px;
}

.open-folder {
  cursor: pointer;
}

.open-or-drag {
  cursor: pointer;
}

.hover-folder-link {
  background: #1F2F46;
  color: white!;
}

.pull-top-right {
  position: absolute;
  right: 10px;
  top: 10px;
}

.toast {
  opacity: 1 !important;
}

.sv-logo-image {
  display: block;
  background: url("https://www.seravault.com/img/seravault_logo.svg") no-repeat;
  /*width: 180px;
  height: 236px; 
  padding-left: */        
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  
}

.lock-background {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 0;
  margin-top: -25px;
  padding-top: 18px;
  text-align: center;
}


.note-editor.note-frame.fullscreen {
  background: #1F2F46;
}

.introjs-helperNumberLayer {
  top: 12px; 
  left: 98%;     
}
.introjs-helperLayer {
  background-color: rgba(255,255,255,.5);
}
.splash-container {
  max-width: 700px;
}

.blog-item-icon {
  font-size: 50px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.sv-background-color {
  color: #1F2F46;
  border-top-color:  #1F2F46;
}

.home-card {
  background-color: #eff7ff;
  border-radius: 10px;
}